name: Release
on:
  release:
    types: [published]
permissions:
  id-token: write
  contents: read
jobs:
  npmjs:
    name: npmjs.org
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm config set git-tag-version=false
      - run: npm version ${{ github.event.release.tag_name }}
      - run: npm run build --if-present
      - run: npm publish
